@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color-day7: #264057;
    --secondary-color-day7: #5F98CD;
    --text-color-day7: #787878;
    --icon-color-day7: #787878;
    --navbar-color-day7: #43627D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.frame-day7 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-day7 {
    width: 400px;
    height: 400px;
    background-color: var(--primary-color-day7);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* ========== Notif ============ */

.center-day7 .notif {
    width: 80%;
    height: 80%;
    background-color: #ffff;
    /* box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); */
    /* display: none; */
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1;
}

.notif.active {
    transform: translateX(140px);
}


/* ================== header ================= */

.notif .header {
    background-color: var(--secondary-color-day7);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;

}

.header .notif-icon {
    font-size: 30px;

    .bx {
        color: #ececec;
    }

    .bx:hover {
        color: #fff;
    }

    z-index: 1;
}

.header .notif-text {
    text-align: center;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.header .notif-search {
    display: flex;
    align-items: center;
    right: 0;
    position: absolute;
    font-size: 25px;
    right: 10px;

    input {
        padding: 5px 10px;
        border: none;
        border-radius: 12px;
        width: 262px;
        margin-right: 10px;
        opacity: 0;
        /* transform: scale(0); */
        transition: all 0.3s ease;

    }

    input.muncul {
        opacity: 1;
        z-index: 1;
        /* transform: scale(1); */
        /* transition: all 0.8s ease; */
    }

    .bx {
        color: #ececec;
    }

    .bx:hover {
        color: #fff;
    }


}

/* ======================== main notif ====================== */

.main ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main ul .notif {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.notif .tanggal {
    font-size: 12px;
    font-weight: 200;
    color: var(--text-color-day7);
}

.notif .nama {
    font-size: 15px;
    color: var(--text-color-day7);
}


/* ===================== navbar side ==================== */

.center-day7 .navbar-side {
    background-color: var(--navbar-color-day7);
    color: var(--secondary-color-day7);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
    position: absolute;
    left: 60px;
    z-index: 0;

    .navbar-list {
        /* padding: 20px; */

        .navbar-link {
            color: var(--secondary-color-day7);
            list-style: none;
            padding: 10px;
        }

        .navbar-link:hover {
            background-color: #3e5970;
            color: #fff;
            transition: all .7s ease;

            i {
                transition: all .7s ease;
                color: #fff;
            }
        }

        i {
            margin-right: 10px;
            color: var(--secondary-color-day7);
        }
    }

}

.navbar-side.active {
    transform: translateX(-20px);
}