@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F5E8DF;
    --text-color: #786450;
    --secondary-Hcolor: #d3c1b5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.frame {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background: linear-gradient(45deg, #EDBC6B, #CB7D4E);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.center-main {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: var(--primary-color);
    overflow: hidden;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
}

.left-side {
    flex: 2;
    display: flex;
    flex-direction: column;


}

.left-side .image-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-text .text .nama {
    font-weight: 500;
    font-size: 16px;
}

.image-text .text .profesi {
    font-weight: 100;
    font-size: 12px;
}

.left-side .button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button .tombol {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: none;
    border: 1px solid var(--text-color);
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.tombol:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.image {
    position: relative;

    .circle-1 {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 58px;
        height: 58px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        border-color: var(--text-color) var(--text-color) var(--text-color) transparent;

    }

    .circle-2 {
        position: absolute;
        top: -8px;
        left: -8px;
        width: 66px;
        height: 66px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        border-color: var(--text-color) transparent var(--text-color) var(--text-color);
    }


}

.image:hover .circle-1 {
    transform: rotate(360deg);
    transition: 1.5s ease-in-out;
}

.image:hover .circle-2 {
    transform: rotate(-360deg);
    transition: 1.5s ease-in-out;
}





.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.right-side .kotak {
    width: 100%;
    flex: 1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.kotak:hover {
    background-color: var(--secondary-Hcolor);
}

.kotak .angka {
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.kotak .main {
    font-size: 12px;
    font-weight: 400;
}