@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-back1: #433aa0;
  --color-back2: #4ec1c8;
  --color-text1: #333;
  --color-text2: #fff;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: repeat(autofit, 400px);
  grid-auto-rows: 400px;
  grid-auto-flow: row;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  overflow: hidden;
}

.card-1 .frame {
  height: 350px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: var(--color-text1);
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  background: linear-gradient(45deg, var(--color-back1), var(--color-back2));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.card-1 .center {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #4ec1c8; */
}
.card-1 .center .one-a {
  background-color: #fff;
  width: 20px;
  height: 30px;
  border-radius: 3px;
  position: absolute;
  transform: rotate(45deg);
}
.card-1 .center .block-center {
  display: flex;
  justify-content: center;
}
.card-1 .center .block-center .one-b {
  position: relative;
  right: -20px;
  background-color: #fff;
  width: 20px;
  height: 80px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.card-1 .center .block-center .zero {
  /* position: absolute; */
  /* background-color: #fff; */
  border: 20px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}
.card-1 .center .block-center .a {
  position: relative;
  right: -11px;
}
.card-1 .center .text-h {
  padding: 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin: -20px 0 -20px 23px;
}
.card-1 .center .text-h h1 {
  padding: 0;
}
.card-1 .center .text-p {
  color: #fff;
  text-align: center;
  /* margin-top: -10px; */
  margin-left: 20px;
  font-weight: 700;
  font-size: 21px;
}

.card-12 {
  color: #fff;
  background-color: #4CB6DE;
  font-size: 25px;
  font-family: sans-serif;
  position: relative;
}
.card-12 .obs {
  background-color: rgb(40, 111, 138);
  padding: 2px 10px;
}
.card-12 .obs:hover .kotak {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.card-12 .obs .kotak {
  position: absolute;
  width: 300px;
  height: 150px;
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  top: 24px;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0px, -20px, 0px);
  transition: all 0.5s ease-out;
}
.card-12 .obs .kotak .header {
  background-color: rgb(255, 255, 255);
  flex: 1;
  color: rgb(40, 111, 138);
  text-align: left;
  padding: 10px;
}
.card-12 .obs .kotak .footer {
  background-color: rgb(40, 111, 138);
  padding: 10px;
  flex: 3;
}

.card-13 {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 2px;
  position: relative;
}
.card-13 .layar {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 200;
  background: transparent;
  display: flex;
  flex-direction: column;
  transition: all 0.9s ease-in;
}
.card-13 .layar .header {
  flex: 1;
  background-color: red;
  transform: translateY(-100%);
  transition: all 1.2s ease;
  overflow: hidden;
}
.card-13 .layar .header img {
  width: 400px;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
}
.card-13 .layar .footer {
  flex: 1;
  background-color: #dfdfdf;
  transform: translateY(100%);
  transition: all 1.2s ease;
  position: relative;
  background-color: #EC6565;
}
.card-13 .layar .footer .bot-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 30px;
  padding: 50px;
}
.card-13 .layar .footer .bot-footer .lingkaran {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.card-13 .layar .footer .bot-footer .lingkaran:hover {
  color: #EC6565;
  background-color: #fff;
  transition: all 0.5s ease;
}
.card-13 .layar .circle {
  position: absolute;
  z-index: 250;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  transition: all 1.2s ease 0.3s;
}
.card-13 .layar .circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-13 .layar .x {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  transition: all 0.5s ease;
  transform: translateY(-100%);
}
.card-13 .layar .x:hover {
  color: #EC6565;
}
.card-13 .layar .x .kotak {
  transform: rotate(45deg);
}

.layar.muncul {
  opacity: 1;
  z-index: 205;
}
.layar.muncul .header {
  transform: translateY(0%);
  transition: all 1.2s ease;
}
.layar.muncul .footer {
  transform: translateY(0%);
  transition: all 1.2s ease;
}
.layar.muncul .circle {
  transform: translate(-50%, -50%);
  transition: all 1.2s ease 0.1s;
}
.layar.muncul .x {
  transform: translateY(0%);
  transition: all 1.2s ease;
}

.image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgba(255, 98, 98, 0.9725490196);
  position: relative;
  z-index: 201;
}
.image:hover {
  filter: brightness(0.5);
  transition: all 1s ease;
}
.image:hover .bx {
  transform: scale(1.5);
  opacity: 1;
  transition: all 0.5s ease;
}
.image .bx {
  z-index: 1000;
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.5s ease;
}

.image-1 {
  width: 200px;
  height: 200px;
  position: relative;
}
.image-1:before {
  background-image: url("foto1.jpg");
  position: absolute;
  content: "";
  z-index: 10;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-2 {
  width: 200px;
  height: 200px;
  position: relative;
}
.image-2:before {
  background-image: url("foto2.jpg");
  position: absolute;
  content: "";
  z-index: 10;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-3 {
  width: 200px;
  height: 200px;
  position: relative;
}
.image-3:before {
  background-image: url("foto3.jpg");
  position: absolute;
  content: "";
  z-index: 10;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-4 {
  width: 200px;
  height: 200px;
  position: relative;
}
.image-4:before {
  background-image: url("foto4.jpg");
  position: absolute;
  content: "";
  z-index: 10;
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */